body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: bisque;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  padding: 5px;
  font-weight: bold;
}